<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.input :username, input_html: {class: 'form-control'}, label: false, placeholder: '이름', autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.input :email, type: "email", input_html: {class: 'form-control'}, label: false, placeholder: '이메일' %>
  </div>
  <div class="form-group">
    <%= f.input :password, label: false, input_html: {class: 'form-control'}, autocomplete: "off", placeholder: "비밀번호 (#{@minimum_password_length} 글자 이상)" %>
  </div>
  <div class="form-group">
    <%= f.input :password_confirmation, label: false, input_html: {class: 'form-control'}, autocomplete: "off", placeholder: "비밀번호 확인" %>
  </div>
  <div class="form-group">
    프로필 사진 <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.button :submit, value: "Sign up", input_html: {class: 'btn btn-default'} %>
  </div>
  
<% end %>
<br>
<%= render "devise/shared/links" %>
