<h1>프로젝트 결과</h1>
<br><br>

<div class="row">
	<% @results.each do |result| %>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<div class="thumbnail" style="min-height: 300px;">
				<div style="height: 130px; padding: 0 auto;" class="text-center">
 					<% if result.image? %>
 						<%= image_tag result.image, style: "height: 100%; max-width: 100%; margin: 0 auto;" %>
 					<% end %>
 				</div>
				<%= link_to result_path(result) do %>
					<h3><%=result.프로젝트명 %></h3>
				<% end %>
				<br>작성자: <%=result.user.name || result.user.username%>
				<p class="label label-default"><%= result.created_at.strftime("%Y/%m/%d") %></p>
				<p><%= result.thumbsups.size %> likes</p>

				<div class="text-right">
					<% if current_user == result.user %>
						<%= link_to edit_result_path(result) do %>
							<span class="glyphicon glyphicon-edit"></span>
						<% end %>
						<%= link_to result_path(result), method: "delete", data: {confirm: 'Are you sure?'} do %>
							<span class="glyphicon glyphicon-trash"></span>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>
