<h1>New Result</h1>
<%= simple_form_for :result, url: project_results_path do |f| %>
<% if @result.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@result.errors.count, "error") %> prohibited
      this result from being saved:</h2>
    <ul>
    <% @result.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<div class="form-group">
		<%= f.input :프로젝트명, input_html: { class: 'form-control' }, label: false, placeholder: '프로젝트명' %>
	</div>

	<div class="form-group">
		시작일자 <%= f.date_field :시작일자, input_html: { class: 'form-control' } %>
</div>
	<div class="form-group">
		종료일자 <%= f.date_field :종료일자, input_html: { class: 'form-control' } %>
	</div>
	<div class="form-group">
		<%= f.input :url, as: :url, input_html: { class: 'form-control' }, label: false, placeholder: 'Youtube URL이 있다면 넣어주세요 (https://youtu.be/~~ 형식의 주소를 넣어주세요)' %>
	</div>
	<div class="form-group">
		이미지업로드 <%= f.file_field :image %>
	</div>
	<div class="form-group">
		첨부파일 <%= f.file_field :attachment, input_html: { class: 'form-control' } %>
	</div>
	<div class="form-group">
		<%= f.input :소개, as: :text, input_html: { class: 'form-control' }, label: false, placeholder: '프로젝트 소개' %>
	</div>
	<div class="form-group">
		<%= f.input :소감, as: :text, input_html: { class: 'form-control' }, label: false, placeholder: '소감' %>
	</div>
	<div class="form-group">
		<%= f.button :submit, class: 'btn btn-default' %>
	</div>

<% end %>

<%= link_to 'Back', projects_path %>
