<h1>프로젝트</h1>
<%= link_to '새 프로젝트', new_project_path %>
<table>
	<tr>
		<th>프로젝트명</th>
		<th>소개</th>
	</tr>

	<% @projects.each do |project| %>
		<tr>
			<td><%=project.프로젝트명 %></td>
			<td><%=project.목표 %></td>
			<td><%=link_to 'Show', project_path(project) %></td>
			<td><%=link_to 'Edit', edit_project_path(project) %></td>
			<td><%=link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>