<h1>프로젝트</h1>
<%= link_to '새 프로젝트', new_project_path %>
<table>
	<tr>
		<th>프로젝트명</th>
		<th>소개</th>
	</tr>

	<% @projects.each do |project| %>
		<tr>
			<td><%=project.프로젝트명 %></td>
			<td><%=project.목표 %></td>
			<td><%=link_to '보기', project_path(project) %></td>
			<td><% if project.user.id == current_user.id %>
  	 		<%= link_to '|삭제', project_path(project), method: "delete", data: {confirm: 'Are you sure?'} %>
  			<% end %>
  		</td>
			<td><% if project.user.id == current_user.id %>
				<%=link_to '|편집', edit_project_path(project) %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>