<p>
	<strong>프로젝트명:</strong>
	<%= @project.프로젝트명 %>
</p>

<p>
	<strong>일정:</strong>
	<%= @project.일정 %>
</p>

<p> 
	<strong>목표:</strong>
	<%= @project.목표 %>
</p>

<h4>댓글</h4>
<% @project.comments.each do |comment| %>
	<p>
    <strong><%=comment.user.username %></strong>
    <%= comment.body %>
  <% if comment.user.id == current_user.id %>
  	<%= link_to "삭제", project_comment_path(@project, comment), method: "delete" %>
  <% end %>
  </p>
<% end %>

<h4>댓글달기</h4>
<%=form_for([@project, @project.comments.build]) do |f| %>
	<p>	
		<%= f.label :comment %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%=link_to 'Edit', edit_project_path(@project) %>
<%=link_to 'Back', projects_path %>
