<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.input :email, type: "email", input_html: {class: 'form-control'}, label: false, placeholder: '이메일' %>
  </div>
  <div class="form-group">
    <%= f.input :password, label: false, input_html: {class: 'form-control'}, autocomplete: "off", placeholder: "비밀번호" %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
  <div class="actions">
    <%= f.button :submit, value: "Log in", input_html: {class: 'btn btn-default'} %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
