<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
    ㅅㅅㄷ</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.image? %>
          <li class="profile"><a><%= image_tag(current_user.image, size: '20x20', style:'border-radius:3px;vertical-align:top;') if current_user.image %>  <%= current_user.name %></a></li>
        <% elsif current_user.avatar? %>
          <li class="profile"><a><%= image_tag(current_user.avatar, size: '20x20', style:'border-radius:3px;vertical-align:top;') %>  <%= current_user.username %></a></li>
        <% end %>
        <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure?" } %></li>
      <% else %>
        <li><%= link_to "로그인", new_user_session_path %></li>
        <li><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path %></li>
      <% end %>
    </ul>  
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>