<!DOCTYPE html>
<html>
  <head>
    <title>ㅅㅅㄷ Helper</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>

		<div class="container" style="margin-top: 70px;">
    <div class="row">
      <div class="col-md-2 col-sm-2 navbar-bigwidth" style="margin-left: -120px; margin-right: 30px;">
        <% if user_signed_in? %>
          <h5>My Projects</h5>
          <ul>
            <% current_user.joined_projects.each do |project| %>
              <li><%= link_to project.프로젝트명, project_joined_path(project), data: {behavior: "project-link", project_id: project.id} %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-2 col-sm-2 navbar-smallwidth">
        <% if user_signed_in? %>
          <strong>My Projects</strong>
            <% current_user.joined_projects.each do |project| %>
              <%= link_to project.프로젝트명, project_joined_path(project), data: {behavior: "project-link", project_id: project.id} %>
            <% end %>
        <% end %>
      </div>
      
      <div class="col-md-8 col-sm-10">
        
          <%= yield %>
      </div>
      <div class="col-md-2 col-sm-0">
      </div>
    </div>
  </div>
</body>
</html>