<!DOCTYPE html>
<html>
  <head>
    <title>Ssd</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>
		<div class="container" style="margin-top: 70px;">
    	<%= yield %>
    </div>
  </body>
</html>
