<!DOCTYPE html>
<html>
  <head>
    <title>Ssd</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/navbar' %>

		<div class="fluid-container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm-2" style="position: fixed; top: 70px; left:0;">
      <% if user_signed_in? %>
        <h5>Projects</h5>
        <ul>
          <% current_user.projects.each do |project| %>
            <li><%= link_to project.프로젝트명, project, data: {behavior: "project-link", project_id: project.id} %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    
    <div class="col-sm-10 col-sm-offset-2">
    <%= yield %>
    </div>
  </div>
</div>

</body>
</html>